.about-page {
  display: flex;
  align-content: center;
}

.terminal_window {
  margin: 0 auto;
  width: 770px;
  height: 516px;
  text-align: left;
  margin-top: 15px;
  position: relative;
  border-radius: 10px;
}

.terminal_window header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
  border: 1px solid black;
}

.terminal_name {
    color: #0f0f0f;
    margin-top: 7px;
    margin-left: -55px;
}

.terminal-center {
    display: flex;
}

.terminal_window .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.red_btn {
  background-color: #E75448;
}

.green_btn {
  background-color: #3BB662;
}

.yellow_btn {
  background-color: #E5C30F;
}

.terminal_window {
  background-color: #0D1F2D;
  color: #F4FAFF;
  font-size: 11pt;
}

.terminal_text {
  margin: 0px 20px;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}

.terminal_text .p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.terminal-custom-typist {
  display: flex;
  margin-top: 15px;
}
.terminal-custom-typist-div{
  margin-left: 7px;
}

#typed-strings {
  display: inline-block;
  position: relative;
}

#typed {
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  margin-left: 15px;
}

@media screen and (min-width: 1200px) {
  .about-left {
      margin-right: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .about-page {
      justify-content: space-between;
  }
  .about-left {
      margin-right: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .about-page {
      flex-direction: column;
  }

  .about-left {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .about-right {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 876px) {
  .terminal_window {
    width: auto;
  }
}

@media screen and (max-width: 764px) {
  .about-right {
    flex-direction: column;
  }
}

@media screen and (max-width: 472px) {
  .terminal_window {
    height: 635px;
  }
  .terminal-custom-typist {
    flex-direction: column;
  }
}