.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: #000;
    text-decoration: none;
    padding: 0px 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.custom_typist {
    display: flex;
}

.freelance-link:focus {
    outline: none;
}

.dropdown-toggle-container {
    display: none;
}

#dropdown-toggle-icon {
    color: #000;
    font-size: 18px;
}

#dropdown-toggle-icon:hover {
    color: #0096cc;
}

@media screen and (max-width: 764px) {
    .right {
        display: none;
    }
    .dropdown-toggle-container {
        display: block;
    }
    .navbar a:hover {
        text-decoration: none;
    }
}