.subtitle {
    font-weight: 300;
    margin-top: 5px;
}

.double-major-spacing {
    margin-top: 7px;
}

.vertical-timeline-element-technologies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: -5px;
}

.vertical-timeline-element-technologies .tech-button {
    border-radius: 16px;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    height: 29px;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(38, 36, 31, 0.2);
    margin-right: 10px;
    margin-bottom: 10px;
}

.vertical-timeline-element-technologies .tech-button .tech-button-text{
    padding: 0px 12px;
    vertical-align: -webkit-baseline-middle;
    font-size: 15px;
}

.vertical-timeline-element-details {
    display: flex;
    flex-wrap: wrap;
}

.vertical-timeline-element-details .details-button{
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 8px 16px;
    min-width: 64px;
    min-height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.vertical-timeline-element-details .details-button:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.osu_img {
    padding-left: 10px;
    padding-top: 8px;
    height: 40px;
    width: 40px;
}
.cchmc_img {
    padding-left: 9px;
    padding-top: 9px;
    height: 40px;
    width: 40px;
}
.boa_img {
    padding-left: 11px;
    padding-top: 10px;
    height: 40px;
    width: 40px;
}
.wt_img {
    padding-left: 10px;
    padding-top: 11px;
    height: 40px;
    width: 40px;
}
.freelance_img {
    padding-left: 10px;
    padding-top: 11px;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1170px) {
    .osu_img {
        padding-left: 7px;
        padding-top: 7px;
        height: 25px;
        width: 25px;
    }
    .cchmc_img {
        padding-left: 7px;
        padding-top: 7px;
        height: 25px;
        width: 25px;
    }
    .boa_img {
        padding-left: 5px;
        padding-top: 5px;
        height: 30px;
        width: 30px;
    }
    .wt_img {
        padding-left: 8px;
        padding-top: 8px;
        height: 25px;
        width: 25px;
    }
    .freelance_img {
        padding-left: 5px;
        padding-top: 5px;
        height: 30px;
        width: 30px;
    }
}
